*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 500px;
    margin: 50px 30px;
    padding: 50px 30px;
    background-color: rgb(246, 228, 187);
}

.box1{
    border: 5px solid blue;
    width: 250px;
    padding: 10px 10px 50px 10px;
    background-color: rgb(220, 219, 219);
}

.box2{
    border: 20px groove #0202d1;
    background-color: rgb(248, 215, 199);
}

.border{
    border: 3px solid black;
    width: 190px;
    padding: 30px 10px;
    line-height: 20px;
    background-color: white;
}

.space{
   font-size: 30px;
   padding: 10px 3px;
}

.box3{
    border: 1px solid black;
    width: 300px;
    padding: 10px 10px 10px 10px;
    margin: 80px 20px 80px 20px;
    background-color: rgb(200, 200, 200);
}

.border1{
    border: 1px solid black;
    width: 200px;
    padding: 30px 10px;
    background-color: white;
}

.height{
    
    font-size: 15px;
}

.iconbox{
    padding: 10px;
    background-color: #0202d1;
    color: aliceblue;
    word-spacing: 5px;
    line-height: 50px;
}

.text{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}